
        <div
          class="offcanvas-body d-flex flex-column justify-content-center align-items-center"
        >
          <nav>
            <ul>
              <li>
                <a href="eventos.html">Ingresar a Eventos</a>
              </li>
              <li>
                <a href="#">Crear Evento</a>
              </li>
              <li>
                <a href="#">Modificar Evento</a>
              </li>
              <li>
                <a href="#">Crear Trivia</a>
              </li>
              <li>
                <a href="#">Modificar Trivia</a>
              </li>
              <!-- <li>
                <a href="#">Crear LCO</a>
              </li>             -->
              <li>
                <a href="#">Ver billetera</a>
              </li>

              <li>
                <a href="#">Elminar Usuario</a>
              </li>
              <li>
                <a href="#">Cerrar Secion</a>
              </li>
            </ul>
          </nav>
        </div>
 