vaciooooo<div class="col-lg-6 col-12 mx-auto">
    <form id="registerForm" class="custom-form" role="form" method="post">
        <h2 class="hero-title text-center mb-4 pb-2">
            Buscar Usuario
        </h2>
  
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="form-floating">
                    <input type="text" name="full-name" id="full-name" class="form-control" placeholder="Full Name"
                        required="true" />
  
                    <label for="floatingInput"> Buscar por Nombre</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-floating">
                        <input type="text" name="full-name" id="full-name" class="form-control" placeholder="Full Name"
                            required="true" />
  
                        <label for="floatingInput"> Buscar por Id </label>
                    </div>
                </div>
        </div>
  </div>
  
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-5 col-md-5 col-5 ms-auto">
        <button type="submit" class="form-control"> Buscar </button>
    </div>
  
  </div>
  </div>
  </form>
  </div>