<!-- Modal -->
<div
class="modal fade"
id="subscribeModal"
tabindex="-1"
aria-labelledby="subscribeModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    <div class="modal-body">
      <form
        action="#"
        method="get"
        class="custom-form mt-lg-4 mt-2"
        role="form"
      >
        <h2 class="modal-title" id="subscribeModalLabel">
          Recibi Novedades
        </h2>

        <input
          type="email"
          name="email"  
          id="email"
          pattern="[^ @]*@[^ @]*"
          class="form-control"
          placeholder="your@email.com"
          required=""
        />

        <button type="submit" class="form-control">Recibir Alertas</button>
      </form>
    </div>

    <div class="modal-footer justify-content-center">
      <p>Al registrarse, aceptas nuestro Aviso de Privacidad
      </p>
    </div>
  </div>
</div>
</div>